@model IEnumerable<BankLite.Model.BankAccount>

    @{
        ViewBag.Title = "Računi";
    }

    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Novi račun", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyAmount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoneyAmount)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
