@model BankLite.Model.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label for="BankAccount_From">S računa</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount_From)
        </dd>

        <dt>
            <label for="BankAccount_To">Na račun</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
